azure-storage-blob
azure-identity
azure-keyvault
ipykernel
langchain
langchain-community
langchain-postgres
langchain_openai
openpyxl
openai
pandas
postgres
python-dotenv
streamlit
tiktoken
httpx
psycopg2-binary
tqdm
jinja2